#products-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16rem;
  width: calc(100% - 16rem);
}

.product-item {
  cursor: pointer;
  padding: 0.5rem;
}

.product-item:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

img.card-img-top {
  width: 80%;
}

.product-card {
  height: 100%;
  border: 0;
}

#products-filter-wrapper {
  display: flex;
}

.prod-details {
  margin-top: 0.2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.prod-brand {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.prod-name {
  font-size: 0.8rem;
  color: #5d5c5c;
  margin-bottom: 0.2rem;
}

.prod-cost {
  font-size: 0.9rem;
  font-weight: bold;
}

#filter-block {
  width: 16rem;
  height: calc(100% - 4rem);
  overflow-y: auto;
  border-right: 3px solid lightgray;
  position: fixed;
  top: 4rem;
  left: 0;

}

.filter-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgray;
}

.filter-item label {
  font-size: 0.8rem;
}

#products-section {
  height: calc(100% - 7.5rem);
  min-height: calc(100vh - 7.5rem);
}
