<nav class="navbar d-flex" id="app-navbar">
  <div id="nav-elements">
    <a [routerLink]="'/'" class="navbar-brand">Craft Tees</a>
    <div id="nav-actions">
      <div class="nav-action-item">
        <span class="text">Men</span>
      </div>
      <div class="nav-action-item">
        <span class="text">Women</span>
      </div>
      <div class="nav-action-item">
        <span class="text">Kids</span>
      </div>
    </div>
    <div id="profile-actions" class="d-flex align-items-center">
      <p class="m-0 me-1 text-light">{{loggedInUser.name}}</p>
      <div ngbDropdown display="dynamic" class="d-inline-block">
        <button class="btn dropdown-toggle p-0" type="button" id="profile-menu" data-bs-toggle="dropdown"
          aria-expanded="false" ngbDropdownToggle>
          <fa-icon [icon]="icons.userCircle" class="fa-2x text-light" id="profile-icon"></fa-icon>
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="profile-menu">
          <li ngbDropdownItem><a class="dropdown-item" href="#">My Profile</a></li>
          <li ngbDropdownItem><a class="dropdown-item" href="#" (click)="doLogout()">Logout</a></li>
        </ul>
      </div>
      <div class="ms-2 me-2">
        <button type="button" class="btn" [routerLink]="'/cart'" id="btn-cart-display">
          <fa-icon [icon]="icons.cartShopping" class="fa-1x text-light" id="cart-icon"></fa-icon>
          <span *ngIf="itemsInCart.length > 0" class="badge bg-secondary ms-2">{{itemsInCart.length}}</span>
        </button>
      </div>
    </div>
  </div>
</nav>
<main class="main">
  <section id="products-section">
    <div id="products-filter-wrapper" *ngIf="showAllProducts; else expandProduct">
      <div id="filter-block">
        <div class="p-2 ">
          <h5 class="fw-bold">Filters</h5>
          <div class="d-flex flex-wrap align-items-center">
            <div class="badge rounded-pill bg-success d-flex me-1" *ngIf="filterByMale">
              <p class="m-0 fw-normal">Male</p>
            </div>
            <div class="badge rounded-pill bg-success d-flex" *ngIf="filterByFemale">
              <p class="m-0 fw-normal">Female</p>
            </div>
          </div>
        </div>
        <div id="gender-filer" class="filter-item">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="male"
              [(ngModel)]="filterByMale">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="female"
              [(ngModel)]="filterByFemale">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="female">
            <label class="form-check-label" for="inlineRadio2">Boys</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="female">
            <label class="form-check-label" for="inlineRadio2">Girls</label>
          </div>
        </div>
        <div id="cost-filter" class="filter-item">
          <p class="fw-bold m-0">Price</p>
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="Rs. 149 to Rs. 1987" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Rs. 149 to Rs. 1987
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rs. 1987 to Rs. 3825" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Rs. 1987 to Rs. 3825
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rs. 3825 to Rs. 5663" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Rs. 3825 to Rs. 5663
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rs. 5663 to Rs. 7501" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Rs. 5663 to Rs. 7501
            </label>
          </div>
        </div>
        <div id="size-filter" class="filter-item">
          <p class="fw-bold m-0">Size</p>
          <div class="form-check form-check-inline mt-2">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">S</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">M</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">L</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">XL</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">XXL</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">XXXL</label>
          </div>
        </div>
      </div>
      <div id="products-wrapper" class="row">
        <div class="product-item col-md-3"
          *ngFor="let product of productsData | filterProduct : filterByMale : filterByFemale">
          <div class="card product-card" (click)="showParticularProduct(false, product)" [@EnterLeave]>
            <img src={{product.images[0]}} class="card-img-top" alt="...">
            <div class="card-body prod-details">
              <h5 class="card-title prod-brand">{{product.productBrand}}</h5>
              <p class="card-text prod-name">{{product.productName}}</p>
              <p class="card-text prod-cost">{{product.cost | currency : 'INR'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #expandProduct>
      <div id="expand-product-block" class="p-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary"><a
                (click)="showParticularProduct(true, activeProduct)">T-Shirts</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{activeProduct.productBrand}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{activeProduct.productName}}</li>
          </ol>
        </nav>
        <div id="product-block">
          <div class="row">
            <div class="col-md-3 pe-0" *ngFor="let img of activeProduct.images">
              <img src={{img}} class="d-block expand-product-img" alt={{activeProduct.id}}>
            </div>
            <div class="col-md-6 p-4 pe-0 pt-0" id="expand-product-details">
              <div id="viewer-product-brand">
                <h2 class="mb-2">{{activeProduct.productBrand}}</h2>
              </div>
              <div id="viewer-product-name">
                <h3>{{activeProduct.productName}}</h3>
              </div>
              <div id="viewer-rating-review">
                <div class="product-rating">
                  <span class="fw-bold">{{activeProduct.rating}}</span>&nbsp;
                  <fa-icon [icon]="icons.star" class="text-success icons"></fa-icon>
                </div>
                <div class="product-review">
                  <span class="text-secondary">{{activeProduct.reviews}} Ratings</span>
                </div>
              </div>
              <hr>
              <div id="viewer-product-price">
                <h4 class="fw-bold">{{activeProduct.cost | currency : 'INR'}}</h4>
              </div>
              <div id="viewer-product-sizes">
                <h4>Size</h4>
                <div class="sizes-wrapper mt-1">
                  <div class="product-size" *ngFor="let size of activeProduct.sizes"
                    [ngClass]="selectedSize == size ? 'active' : ''" (click)="onSizeChange(size)">
                    <p class="m-0">{{size}}</p>
                  </div>
                </div>
              </div>
              <div id="add-to-bag-block" class="mt-4">
                <button class="btn" id="add-tocart-btn" (click)="addToCart()">
                  <fa-icon [icon]="icons.cartPlus" class="icons"></fa-icon>&nbsp;&nbsp;
                  Add to Cart
                </button>
              </div>
              <p class="text-success mt-3" *ngIf="addedToCart">
                Added to cart successfully&nbsp;&nbsp;
                <fa-icon [icon]="icons.check" class="icons"></fa-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</main>
