#app-navbar {
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: white;
}

.navbar-brand {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 3px solid #1d86d9;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#nav-elements, #nav-actions {
    display: flex;
    align-items: center;
}

#nav-elements {
    width: 100%;
    justify-content: space-between;
}

.nav-action-item {
    margin-left: 2rem;
    cursor: pointer;
}

.nav-action-item .text{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    color: #1d86d9;
}
.nav-action-item .text:hover{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main {
    height: calc(100vh - 50px);
    overflow-y: auto;
    margin-top: 50px;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.home-page-container .carousel-control-prev-icon {
    background-color: black !important;
    height: 5rem !important;
}

.home-page-container .carousel-control-next-icon {
    background-color: black !important;
    height: 5rem !important;
}