#hero-section {
    width: 100%;
    padding: 1rem;
    background-color: #0f171b;
}

.carousel-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-block h1 {
    font-weight: bold;
    background: linear-gradient(to left, #ffffff 0%, #cfcfcf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#right-block img {
    width: 95%;
    margin: auto;
}
